html, body{
    margin: 0;
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 46px;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    transition: color .30s;
    color: rgba(255, 255, 255, .55);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: rgba(255, 255, 255, .75);
}
.dropbtn {
    cursor: pointer;
    border: none;
    transition: color .30s;
    color: rgba(255, 255, 255, .55);
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(221, 28, 28);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f01515}

li.dropdown:hover .dropdown-content {
    display: block;
}

li.dropdown:hover .dropbtn {
    background-color: #1d0cbb;
}
